@model TonaWebApp.Models.User

@{
    ViewData["Title"] = "Login";
    var registrationSuccessMessage = TempData["RegistrationSuccessMessage"] as string;
}

@section CSS
{
    
}

@if (!string.IsNullOrEmpty(registrationSuccessMessage))
{
    <script>alert('@registrationSuccessMessage');</script>
}

<div class="main-container">
    <div class="img-container">
        <img
            src="https://cdn.discordapp.com/attachments/1212717114238967838/1212717188096589915/2115483_273995-P5W2BD-727.jpg?ex=65f2d9e4&is=65e064e4&hm=6c335eae3f1cb83dc795fed1f92429d2a381e857ecbeb9863cc04a149976d94a&">
    </div>
    <div class="wrapper">
        <div class="section-container">
            <div class="logo-container">
                <img src="https://cdn.discordapp.com/attachments/1212717114238967838/1212717153686655006/tuna.png?ex=65f2d9dc&is=65e064dc&hm=986fc5efbc87b07f09d041abeb8bcd4841610843301f86c54d4dfbc3fe414319&"
                    alt="TonaIcon">
                <h1>TONA</h1>
            </div>
            <p>Login</p>
            <div class="form-container">
                <form asp-controller="Auth" asp-action="Login">
                    <div class="input-box">
                        <i class='bx bx-envelope'></i>
                        <input asp-for="Email" type="email" placeholder="Email" required onchange="clearMsg()">
                    </div>
                    <div class="input-box">
                        <i class='bx bx-lock-alt'></i>
                        <input asp-for="Password" type="password" placeholder="Password" required onchange="clearMsg()">

                    </div>
                    <div class="wrong-submit" id="wrong">
                        Incorrect email or password
                    </div>
                    @* <div class="forgot-container">
                    <a href="auth/login/forgot">Forgot Your password?</a>
                    </div> *@
                    <div class="sign-btn">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="sign-link">
            <hr>
            <p>don't have an account?
                <a href="/auth/register">register</a>
            </p>
        </div>
    </div>
</div>

<script>
    function clearMsg(id){
        let wrong = document.getElementById("wrong");
        wrong.style.display= "none";
    };

    let result = "@ViewBag.login";
    let wrong = document.getElementById("wrong");
    console.log(result);
    if (result == "wrong"){
        wrong.style.display = "flex";
        wrong.value = "";
        result = "";
    }


</script>
