@model TonaWebApp.Models.User

@await Component.InvokeAsync("Navbar", Model.Id)

<div class="page-container">
    <div class="profile-section">
        <div class="profile-img">
            <img src="https://www.ce.kmitl.ac.th/api/faculty/download/Charoen" alt="Profile Image">
        </div>

        <div class="profile-card">
            <div class="contact-card">
                <div class='contact-text'>
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <p>Web Developer</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at urna vel lorem tincidunt
                        tristique.</p>
                </div>
            </div>

            <div class="contact-card">
                <div class='contact-text'>
                    <h2>Contact Information</h2>
                    <p>Email: @Model.Email</p>
                    <p>Phone: @Model.Phone</p>
                </div>
            </div>

            <a href="/User/EditProfile" class="edit-profile-button">Edit Profile</a>
        </div>
    </div>
</div>