@model TonaWebApp.Models.User

<div class="page-container">
    
     <div class="page-navbar">
        <div class='logo'>
            <a href='/Home/Index'>
                <img src="https://cdn.discordapp.com/attachments/1212717114238967838/1212717153686655006/tuna.png?ex=65f2d9dc&is=65e064dc&hm=986fc5efbc87b07f09d041abeb8bcd4841610843301f86c54d4dfbc3fe414319&"/>
                <span>Tuna</span>
            </a>
        </div>
        <div class="menubar">
            <div class="menu">
                <ul class="menu-link">
                    <li class="nav=link">
                        <a href="/History/Upcoming">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span class="nav-text">History</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mini-profile">
            <div class="photo">
                <a href='/User/Profile'>
                    <img src="https://www.ce.kmitl.ac.th/api/faculty/download/Charoen">
                <span>Tuna</span>
                </a>
               
            </div>
            <div class="mini-content">
                <div class="text">
                    <h4>Dr.Charoen</h4>
                    <p>want party</p>
                </div>
            </div>
        </div>

    </div>

    <div class="page-sections">
        <div class="profile-section">
            <div class="profile-card">
                <div class="profile-img">
                    <img src="https://www.ce.kmitl.ac.th/api/faculty/download/Charoen" alt="Profile Image">
                </div>
                <h2>Name Name</h2>
                <p>Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at urna vel lorem tincidunt tristique.</p>
                <a href="/User/EditProfile" class="edit-profile-button">Edit Profile</a>
            </div>

            <div class="contact-card">
                <h2>Contact Information</h2>
                <p>Email: your.email@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
                <p>Facebook :</p>
                <p>Instagram :</p>
                <p>Line ID :</p>
            </div>
        </div>

        <div class="section2">
            <div class="content-section">
                <div class="content">
                    <h2>About</h2>
                    <p>Content for Column 1</p>
                </div>
            </div>

            <div class="interests-section">
                <div class="interest-row">
                    <h2>Essentials</h2>
                    <p>Content for Column 2, Row 1</p>
                </div>
                <div class="interest-row">
                    <h2>Interests</h2>
                    <p>Content for Column 2, Row 2</p>
                </div>
            </div>
        </div>
    </div>

</div>