@model TonaWebApp.Models.User
@{
    Layout = "_LayoutNavBar";
}
<div class="page-container">
        <div class="profile-section">
            <div class="profile-card">
                <div class="profile-img">
                    <img src="https://www.ce.kmitl.ac.th/api/faculty/download/Charoen" alt="Profile Image">
                </div>
                <h2>Name Name</h2>
                <p>Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at urna vel lorem tincidunt tristique.</p>
                <a href="/User/EditProfile" class="edit-profile-button">Edit Profile</a>
            </div>

            <div class="contact-card">
                <h2>Contact Information</h2>
                <p>Email: your.email@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>

        </div>

</div>