@model List<Notification>

<div class="main-nav">
    <a class = "tona-logo"href="/Home/Index/">
        <img class = "logo nav-box-inline" src="https://cdn.discordapp.com/attachments/1212717114238967838/1212717153686655006/tuna.png?ex=65f2d9dc&is=65e064dc&hm=986fc5efbc87b07f09d041abeb8bcd4841610843301f86c54d4dfbc3fe414319&" alt="">
        <p class="nav-box-inline nav-text-tona" style="padding-left:10px">Tona</p>
    </a>
    <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul class="box-container">
                <li>
                    <a class="" href="/History/Upcoming">
                        <i class='bx bx-history' style='color:#176b87; scale:200%; margin:10px' ></i>
                        <p class="nav-box nav-text nav-box-inline">History</p>
                    </a>
                </li>
                <li>
                    <a class="" href="/Notification">
                        <i class='bx bx-bell' style='color:#176b87; scale:200%; margin:10px'>
                            <div class="countNum">@Model.Count</div>
                        </i>
                        <p class="nav-box nav-text nav-box-inline">Notification</p>
                    </a>
                </li>
                <li>
                    <a class="" href="/User/Profile">
                        <i class='bx bx-user' style='color:#176b87; scale:200%; margin:10px'  ></i>
                        <p class="nav-box nav-text nav-box-inline">Profile</p>
                    </a>
                </li>
                <li>
                    <a class="" href="/Auth/Logout">
                        <i class='bx bx-log-out' style='color:#176b87; scale:200%; margin:10px' ></i>
                        <p class="nav-box nav-text nav-box-inline">Log Out</p>
                    </a>
                </li>
            </ul>
        </nav>
        <label style="padding-right : 20px " for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </input>
</div>