@model TonaWebApp.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Homepage";
}

@section CSS
{
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* mail icon *@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
}

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>

}

<div class='homepage'>
    <div class="main-navbar">
        <div class='logo'>
            <a href='#'>
                <img src="https://cdn.discordapp.com/attachments/1212717114238967838/1212717153686655006/tuna.png?ex=65f2d9dc&is=65e064dc&hm=986fc5efbc87b07f09d041abeb8bcd4841610843301f86c54d4dfbc3fe414319&"/>
                <span>Tuna</span>
            </a>
        </div>
        <div class="menubar">
            <div class="menu">
                <ul class="menu-link">
                    <li class="nav=link">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="nav-text">Find Group</span>
                            
                        </a>
                    </li>
                    <li class="nav=link">
                        <a href="#">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span class="nav-text">History</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mini-profile">
            <div class="photo">
                <img src="https://www.ce.kmitl.ac.th/api/faculty/download/Charoen">
            </div>
            <div class="mini-content">
                <div class="text">
                    <h4>Dr.Charoen</h4>
                    <p>want party</p>
                </div>
            </div>
        </div>

    </div>
    <div class="b centerboard">
        <div class="box">
            <div class="searchbox">
                <input type="text" placeholder="Search here...">
                <label for="" class="icon">
                    <i class="fa fa-search"></i>
                </label>
            </div>
        </div>
        <div class="dropdownbar">
            <div class="dropmenubar">
                <div class="select-menu">
                    <div class="select-btn">
                        <span class="sBtn-text">Select your option</span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="options">
                        <li class="option">                       
                            <span class="option-text">Newest</span>
                        </li>
                        <li class="option">
                            <span class="option-text">Oldest</span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="board-card">
            <div class="custom-rect">
                <div class="l-board-card">
                    <h2 class="topic">Topic: Topic Name</h2>
                    <div class="small-type01">งานกลุ่ม</div>
                    <p class="created-by">Created by: John Doe</p>
                    <p class="example">Example: Example Text</p>
                </div>
                <div class="r-board-card">
                    <p class="status">Status: In Progress</p>
                    <p class="number-in-group">Number in Group: 5</p>
                </div>
            </div>
        </div>
        <div class="board-card">
            <div class="custom-rect">
                <div class="l-board-card">
                    <h2 class="topic">Topic: Topic Name</h2>
                    <div class="small-type01">งานกลุ่ม</div>
                    <p class="created-by">Created by: John Doe</p>
                    <p class="example">Example: Example Text</p>
                </div>
                <div class="r-board-card">
                    <p class="status">Status: In Progress</p>
                    <p class="number-in-group">Number in Group: 5</p>
                </div>
            </div>
        </div>      
    </div>
    <div class="c">
        <div class="c-wrapper">
            <div class='wrapper'>
                <header>
                <p class="current-date"></p>
                <div class="icons">
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
                </header>
            <div class="calendar">
                <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
                </ul>
                <ul class="days"></ul>
            </div>
        </div>
        <button class="create-board-btn">Create Board</button>

    </div>
</div>


