@model List<User>

<ul>
    @if (Model != null)
    {
        @foreach (var user in Model)
        {
            <li>@user?.FirstName - @user?.Email</li>
        }
    }
    else
    {
        <li>No users found</li>
    }
</ul>
