.main-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    font-family: "Kanit", sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.logo-container {
    font-weight: bolder;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.logo-container img {
    height: 100px;
    width: 100px;
}

.logo-container h1 {
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: bold;
    color: rgba(23, 107, 135, 1);
}




.img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    
}

.img-container img {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4rem;
    object-fit: cover;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.section-container>p {
    font-size: xx-large;
    margin-top: 1rem;
    font-weight: 600;
    color: rgba(23, 107, 135, 1);
}

.form-container {
    width: 100%;
    text-align: center;
}

.input-box {
    margin-top: 2.5rem;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

.input-box input {
    width:70%;
    border-radius: 1rem;
    border: 1px solid rgba(23, 107, 135, 1);
    padding: 1rem;
    padding-left: 4.5rem;
    font-size:xx-large;
    font-family: "Kanit", sans-serif;
}




.name-container {
    position: relative;
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
}


/* .firstbox {
    padding-left: 1%;
}

.lastbox {
    padding-right: 10%;
} */

/* .firstbox .input-box {
    text-align: unset;
}


.lastbox .input-box {
    text-align: end;
} */

#firstname{
    padding-left: 4.25vw;
}

#lastname{
    padding-right: 3vw;
}

#firstname input{
    width: 70%;
}



#lastname input{
    width: 70%;
    padding-left: 1.5rem;

}

.input-box i {
    position: absolute;
    padding-top: 1.5rem;
    padding-left: 1.4rem;
    scale: 170%;
}

.forgot-container{
    width: 80%;
    display: flex;
    margin-left:10% ;
    justify-content: flex-end;
    text-align: end;
    margin-top: 0.5rem;
    align-self: flex-end;
    font-size: 1.5rem;

}

.forgot-container a{
    text-decoration: none;
}


.sign-btn {
    text-align: center;
    margin-top: 3rem;
}

.sign-btn button {
    width: 30%;
    min-width: fit-content;
    border: none;
    height: 5rem;
    border-radius: 1rem;
    font-family: "Kanit", sans-serif;
    font-size: xx-large;
    background: linear-gradient(90deg, #54e0ff 0%, #8f98ff 100%);
}

.sign-btn button:hover{
    background: linear-gradient(90deg, #8f98ff 0%, #54e0ff 100%);
    outline: #545fff 3px solid;
    
}
.sign-link {
    width: 80%;
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    margin-bottom: 1rem;

}

.sign-link a {
    text-decoration: none;
}

.sign-link hr {
    border: 0.2rem solid rgba(23, 107, 135, 1);
}

.wrong-submit{
    color: red;
    font-size: 1.5rem;
    display: none;
    justify-content: flex-end;
    width: 90%;
    padding-top: 0;
}


@media screen and (max-width: 1080px) {
    .name-container {
        flex-direction: column;
    
    #firstname{
        text-align: center;
        padding-left: 0;
    }
    #lastname{
        
        padding-right: 0;
    }
    #lastname input{
        padding-left: 4rem;
    }


    }
}

@media screen and (max-width: 520px) {
    .sign-link {
        width: 80%;
        text-align: center;
        font-size: large;
        font-weight: 500;
        margin-bottom: 1rem;
    }


}

@media screen and (max-width: 430px) {
    .img-container {
        display: none;
    }

    
    .sign-btn button {
        width: calc(50% + 4px);
        font-size: 6vw;
        height: 15vw;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .sign-link {
        width: 80%;
        text-align: center;
        font-size: 4.3vw;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .forgot-container{
        font-size: 4vw;
    }
    .input-box input,
    #lastname input {
        font-size: 4vw;
        padding-left: 3.5rem;
    }

    .wrong-submit{
        font-size: 4vw;
    }

    .input-box i {
        position: absolute;
        padding-top: 1rem;
        padding-left: 1rem;
        scale: 150%;
    }

    
}