*{
    font-family: "Kanit", sans-serif;
}

.detail-box {
    display: block;
    margin: 100px;
    background-color: #EEF5FF;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    padding: 30px;
}

.board-header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.board-title {
    display: flex;
    align-items: center;
}

.board-tag {
    background-color: #176B87;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    font-weight: bold;
    font-size: larger;
    width: min-content;
    height: min-content;
    border: #8ab6d6 solid 2px;
}

.board-status {
    background-color: #00FF19;
    padding: 0.8rem;
    border-radius: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.board-tail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board-detail {
    font-size: larger;
}

.f-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.f-between {
    display: flex;
    justify-content: space-between;
}

.horizontal-line {
    width: 100%;
    border: 1px solid gray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.button-board {
    padding: 10px;
    box-shadow: 5px 5px 10px 1px gray;
    border-radius: 10px;
    color: #176B87;
    background-color: #B4D4FF;
    font-size: 20px;
    font-weight: bold;
    height: min-content;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-board:hover {
    background-color: #8ab6d6;
    color: #0f4c66;
    transform: scale(1.05);
    cursor: pointer;
}

.row-center {
    align-items: center;
}



/* Create Post CSS */
.create-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

#createPostForm{
    width: 80%;
    display: flex;
    font-size: x-large;
    flex-direction: column;
}

#createPostForm input,textarea,select{
    margin-top: 0.8rem ;
    min-height: 3rem;
    font-size: x-large;
    border-radius: 10px;
    border: 1px solid rgba(23, 107, 135, 1);
    padding-left: 1rem;
    
}

.topic-header{
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    color: rgba(23, 107, 135, 1);
}

.col-2{
    display: flex;
    justify-content: space-between;
}

.max-member,.start,.end,.meet{
    display: flex;
    flex-direction: column;
}

.create-btn{
    align-self: center;
    margin-top: 3rem;
    width: 30%;
    min-width: fit-content;
    border: none;
    height: 5rem;
    margin-left: 0;
    margin-bottom: 100px;
    border-radius: 1rem;
    font-family: "Kanit", sans-serif;
    font-size: xx-large;
    background: linear-gradient(90deg, #54e0ff 0%, #8f98ff 100%);
}

.create-btn:hover{
    background: linear-gradient(90deg, #8f98ff 0%, #54e0ff 100%);
    outline: #545fff 3px solid;
    cursor: pointer;
    
}

@media only screen and (max-width: 1650px){
    .col-2{
        flex-wrap: wrap;
    }
    .max-member,.start,.end,.meet{
        width: 40%;
    }
}   

@media only screen and (max-width: 800px){
    .col-2{
        flex-direction: column;
        width: 100%;
    }
    .max-member,.start,.end,.meet{
        width: 100%;
    }
}

@media screen and (max-width: 430px){

    .detail-box{
        margin: 34px;
    }


    
}

/* #tag option{
    width: 80%;
} */
