/* *{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
} */
/* main */
.main{
    background-color: #176B87 ;
    height: 100vh;
    margin: 5px;
    padding: 5px;
}
/* nav */
nav{
    display: flex;
    background-color: White;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
/* nav : Upcoming + Completed */
.menu{
    display: flex;
    list-style: none;
    padding:0 ;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.menu li{
    color :black;
    font-size: 30px;
    font-weight: 450;
    padding: 10px;
    margin :5px;
    transition-property: transform, border-radius, border;
    transition-duration: 0.2s;
}
.menu li:hover{
    transform : scale(1.1,1.1);
    transform-origin: center top; 
    border: 1px #176B87 solid;
    border-radius: 10px; 
}
.menu li a {
    transition-property: color;
    transition-duration: 0.2s;
}

.menu li a:hover{
    color:#176B87;
    transform-origin: center top;  
}
.navBoxU{
    border-bottom: 5px #176B87 solid;
    color : #176B87
}
/* nav : saerch */
form{
    margin: 5px;
    padding: 5px;
}
.form-input{
    outline: none;
    padding: 0.5rem;
    height: 40px;
    width: 150px;
    border: 1px solid #176B87;
    border-radius: 10px;
}
form button{
    margin-left :1px;
    border: none;
    padding: 0.5rem;
    height: 50px;
    width: 40px;
    background-color: rgb(160, 207, 248);
    border-radius: 10px;
    border: 1px solid #176B87;
    transition-property: transform, border-radius, border;
    transition-duration: 0.2s;
}
form button:hover{
    transform : scale(1.1,1.1);
    transform-origin: center top; 
    color: #176B87; 
}

/* nav : filter */
.dropdown{
    display: inline-block;
}
.dropdown button{
    color :black;
    font-size: 18px;
    font-weight: 450;
    border: 1px #176B87 solid;
    border-radius: 10px;
    padding: 5px;
    margin :5px;
    background-color: white;
    width: 100px;
    transition-property: transform, color;
    transition-duration: 0.2s;
    height: 40px;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
    text-align: left;
}
.dropdown:hover button{
    transform : scale(1.1,1.1);
    color :#176B87;
    font-weight: 450;
    border: 1px #176B87 solid;
}
.dropdown a:hover{
    background-color: #176B87;
    color: white;   
}
/* --------------table---------------- */
.table-box
{
    margin: 1.4rem auto;    
}
.table-row{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: black;
    font-size: 1.1rem;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #176B87;
    box-shadow: none;
    color : white;
    font-weight: 300;
    font-size: 1.5rem;
}
.table-body{
    display:flex;
    align-items: center;
    background: white;
    border-radius: 15px;

}
.table-cell{
    /* display: flex; */
    padding: 4px 0;
    vertical-align: middle;
    text-align: center;
    border-right: none;
    width: fit-content;
    margin: auto;
    overflow-wrap: break-word;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.tablew1{
    width: 20%;
    margin: 0;
}
.tablew2{
    width: 15%;
    margin:0;
}
.tablew3{
    width: 35%;
    margin:0;
}
.first-cell{
    text-align: center;
}
.last-cell{
    
}
nav a{
    text-decoration: none;
    color: black;
}
nav a{
    text-decoration: none;
    color: black;
}
.table-box a{
    text-decoration: none;
    color: black;
}
/* --------------status----(upcoming)
(Completed, panding, Canclelled) */
.completed {
    color: green;
    font-weight: bold;
}
.pending {
    color:rgb(157, 157, 36);
    font-weight: bold;
}
.cancelled {
    color: red;
    font-weight: bold;
}
/* --------------status----(completed)
(Completed, panding, Canclelled) */
.completed {
    color: green;
    font-weight: bold;
}
.incompleted {
    color: red;
    font-weight: bold;
}
/* ---------------Tag
(Love, Food, Study, Travel, Sport),  */
.love{
    color: rgb(164, 25, 71);
    font-weight: bold;
    background-color: rgb(235, 205, 195);
    border: 1px solid rgb(164, 25, 71);
    border-radius: 10px;
}
.food{
    color: rgb(167, 115, 19);
    font-weight: bold;
    background-color: rgb(255, 209, 129);
    border: 1px solid rgb(167, 115, 19);
    border-radius: 10px;
}
.study{
    color: rgb(41, 5, 99);
    font-weight: bold;
    background-color: rgb(223, 188, 254);
    border: 1px solid rgb(41, 5, 99);
    border-radius: 10px;
}
.travel{
    color: rgb(11, 97, 3);
    font-weight: bold;
    background-color: rgb(150, 218, 125);
    border: 1px solid rgb(11, 97, 3);
    border-radius: 10px;
}
.sport{
    color: rgb(1, 26, 127);
    font-weight: bold;
    background-color: rgb(110, 164, 229);
    border: 1px solid rgb(1, 26, 127);
    border-radius: 10px;
}

@media only screen and (max-width : 865px){
    nav{
        flex-direction: column;
        height : auto;
        padding: 2rem 0;
    }
    .menu{
        flex-direction: column;
        width: 100%;
    }
    .menu li {
        margin: 1rem;
        margin-left: 20px;
    }
    form{
        width:100%;
        margin-right: 0;
        flex-direction:row;

    }
    .form-input{
        width: 80%;
        padding-left: 8px;
        margin-left : 20px;
    }
    form button{
        margin-left : 20px;
        width: 84%;
        margin-top: 5px;
        padding-left: 8px;
    }
    .dropdown{
        display: inline-block;
        margin: 20px;
        padding: 0px;
        flex-direction:row;
    }
    .navBoxU{
        border-bottom: 5px #176B87 solid;
    }
    nav{
        width: 80%
    }
}
@media only screen and (max-width : 430px){
    .table-head div:nth-child(5), .table-body div:nth-child(5) {
        visibility: hidden;
        width: 0;
        padding: 0;
        margin: 0;
        scale: 0;
        display: none;
    }
    .tableW1{
        width: auto;
    }
    .tableW2{
        width: auto;
    }
    .tableW3{
        width: auto;
    }
    .table-head{
        background: black;
        box-shadow: none;
        color : white;
        font-weight: 600;
    }
    .table-cell{
        display: flex;
        padding: 10px;
        vertical-align: middle;
        text-align: left;
        border-right: none;
    }
    .table-row.table-body{
        font-size: 15px;
        width: 100%;
        height: 15%;
        overflow-x: scroll;
    }
    .table-row{
        font-size: 10px;
        width: 100%;
        height: 15%;
    }
    .main{
        background-color: white ;
        height: 100vh;
    }
    nav{
        width: 100%
    }
    .tableW1{
        width: 20%;
    }
    .tableW2{
        width: 15%;
    }
    .tableW3{
        width: 35%;
    }
    .first-cell{
        text-align: left;
        padding-left: 10px;
    }
}