.homepage{   
    display: flex;
    flex-direction: ro;
    font-family: "Kanit", sans-serif;
    height: 100vh;
    max-height: 100vh;

}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #176B87; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #176B87; 
}

.main-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 20%;
}
.menu{
    display: flex;
    flex-direction: column;  
}

.menu-link{
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  
}

.menubar{
  display: flex;
  
  
}
.navlink i{
  margin-right: 0.5rem;
}
/* .mainboard{
    width: 55%;
    background-color: rgb(238, 245, 255);
    position: absolute;
    left: 370px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
} */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #176B87;
  font-size: 32px;
  margin-top: 10px;
}

.logo a {
  text-decoration: none; /* Remove underline */
  display: flex;
  align-items: center;
}

.logo a:visited {
  color: #176B87; /* Change the color of the text after it's clicked */
}

.logo img {
  width: 64px;
  height: 64px;
  margin-right: 15px; /* Adjust the spacing between image and text */
}

.rightmain{
    background-color: #176B87;
}

.menu .i{
    display: flex;
    justify-content: flex-start;
}

.mini-profile{
    display: flex;
    align-items: center;
    background-color: #EEF5FF;
    border-radius: 30px;
    border: 2px solid #176B87;
    width: 274px;
    height: 118px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.mini-profile:hover{
  color: #176B87;
}

.mini-profile .photo img{
    width: 100%;
}
.mini-profile .photo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5%;
}

.mini-profile .mini-content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: calc(100%-100px);
}

.mini-content .text{
  text-decoration: none;
}


.mini-profile .mini-content .text h4{
    font-size: 18px;
    font-weight: 400;
    color: #333;
    letter-spacing: .5px;
    white-space: nowrap;
}



.mini-content .text p{
  color: #176B87;
  font-size: 18px;
  margin-top: -25px;
  
}

.menu{
    display: flex;
    align-items: flex-start;
}
.menubar li{  
    height: 50px;
    width: 200px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    
}

.menubar li a{
    color: black;
    font-size: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.box{
    align-items: center;
    margin-top: 10px;
    /* max-width: 679px; */
    width: 70%;


}

.box .searchbox{
    position: relative;
    height: 55px;
    max-width: 679px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    

}

.searchbox .icon{
    position: absolute;
    right: -10px;
    top: 0;
    width: 50px;
    background: #176B87;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 50px;
    border-radius: 0 30px 30px 0;

}


.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.input-container {
  position: relative;
  height: 3rem;
  width: 7rem;
  margin: 0.5rem;
  margin-top: 1.5rem;
  
  
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;

}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid #176B87;
  border-radius: 30px;
  transition: all 300ms ease;
}

.input-container i {
  color: #176B87;
  font-size: 1rem;
}

.input-container label {
  color: #176B87;
  font-size: 0.80rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:checked+.radio-tile {
  background-color: #176B87;
  box-shadow: 0 0 12px #176B87;
  transform: scale(1.1);
}

input:hover+.radio-tile {
  box-shadow: 0 0 12px #176B87;
}

input:checked+.radio-tile i,
input:checked+.radio-tile label {
  color: white;
}





.dropdownbar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper{
  width: 345px;
  height: 415px;
  background: #B4D4FF;
  border-radius: 10px;
  box-shadow: 0 15px 40px #B4D4FF;

}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 20px 30px 30px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 0px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li.normal{
  color: black;
}



.days li.selected {
  background-color: #66ccff; /* Replace with your preferred background color */
  
  /* Add any other styles you want for the selected date */
}


.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #176B87;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
  z-index: -9;
}

.a{
    /* background-color: #176B87; */
    width: 25%;
}
.b-centerboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 245, 255);
    width: 70%;
    max-height: max-content;
}

.board-container{
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
.c{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    background-color: white;
    width: 30%;
}

.dropdownbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.dropmenubar {
  position: absolute;
  top: 10;
  margin-left: 600px;
}


.text-dbar p{
    margin-right: 120px;
}

.select-menu{
  width: 380px;
  margin: 140px auto;
}
.select-menu .select-btn{
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 25px;
  transition: 0.3s;
}
.select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.select-menu .options{
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}
.select-menu.active .options{
  display: block;
}


.options .option{
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.options .option:hover{
  background: #F2F2F2;
}
.option i{
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text{
  font-size: 18px;
  color: #333;
}

/* .custom-rect {
  width: 679px;
  height: 153px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  left: 45.5%;
  top: 20%;
  transform: translate(-50%, -50%);
  border: 2px solid white; /* 
  transition: border-color 0.3s ease; /* 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  
} */

/* .custom-rect:hover {
  border-color: #176B87; 
} */

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Centers items horizontally */
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  overflow-y: auto;
  height: 80%;
}
.board-card{
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 30px;
  width: 679px;
  height: 153px;
  border-radius: 30px;
  border: 2px solid white; 
  transition: border-color 0.3s ease;
  padding: 20px;
  text-decoration: none;
}

.board-card:hover {
  border-color: #176B87;
  box-shadow:0 2px 5px 0 #176B87; 
}


.dashcard h2{
  display: block;
  font-size: 20;
  color: #176B87;
  margin-left: 20px;
}

.dashacrd .projectTop {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashcard .projectTop h2 {
  color: #176B87;
  font-size: 20px;
  line-height: 18px;

}
.dashcard .projectTop h2 span {
  color: #999;
  font-size: 0.8em;
}

.cardtrail .projectProgress {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}



.task {
  /* position: relative; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: -20px;
}
.task h2 {
  color: #333;
  font-size: 18px;
}
.task h2 bold {
  font-size: 22px;
  color: #0E4C62;
}

.due {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.due h2 {
  font-weight: 350;
  padding: 0px 10px;
  border: 2px solid #FF0000;
  border-radius: 5px;
  font-size: 1.1em;
  color: #FF0000;
}

.create-board-btn {
  background-color: #176B87;
  color: white;
  width: 150px;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin-left: -35px;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove underline */
}

.create-board-btn:hover {
  background-color: #0E4C62;
}

.custom-rect .l-board-card .love{
  justify-self: center;
  align-items: center;

  width: 50%;
  margin-left: 20px;


}
.logout-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 90%;
}
.logout-btn i,
.logout-btn span{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  max-width: fit-content;
  height: 30px;
  padding: 24px;
  background-color: #B80000;
  border-radius: 30px;


}

.create-btn-nita {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  font-size: xx-large;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  background: linear-gradient(90deg, #54e0ff 0%, #1cf8db 100%);
  transition: all 0.2s ease;
  justify-content: flex-end;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.create-btn-nita:active {
  transform: scale(0.96);
}
.create-btn-nita:before,
.create-btn-nita:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.create-btn-nita:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



@media screen and (max-width: 1220px){

  .body{
    background-color: #EEF5FF;
  }
  .main-navbar{
    display: none;
  }
  .c{
    display: none;
  }


  .b-centerboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
    

  }

  .box{
    margin-top: -20%;
  }

  /* .radio-tile-group {
    display: none;
  } */

  .board-card{
    width: 85.5%;
  }
}



