.noti-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.noti-card{
    background-color: aqua;
    display: flex;
    width: 80%;
    padding-left:10px;
    flex-direction: column;
    border-radius: 10;
}

.noti-title{
    font-size: x-large;
}
.noti-subtitle{

}
