.page-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



.page-sections {
    display: flex;
    flex: 1;
}

.profile-section {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    
    margin: auto;
    
}

.profile-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-profile-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.edit-profile-button:hover {
    background-color: #2980b9;
}


.contact-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* edit part */


.edit-profile-container {
    max-width: 800px;
    margin: 0 auto;
}

.edit-profile-section {
    padding: 20px;
}

.edit-profile-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-form-group {
    margin-bottom: 20px;
}

.edit-label {
    display: block;
    margin-bottom: 5px;
}

.edit-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.edit-help-text {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

/* General styles for smaller screens */
@media only screen and (max-width: 768px) {
    .page-sections {
        flex-direction: column;
    }

    .profile-section {
        max-width: 100%;
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding: 10px; /* Adjust padding as needed */
        flex-direction: column;
    }

}




